<!-- <nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</nav> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
    {% for item in site.data.navigation %}
      {% if item.link != "/staff.html" %}
        <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
      {% elsif item.link == "/about.html" %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >{{ item.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for items in site.data.navigation_o_nama %}
              <li><a href="{{ items.link }}" {% if page.url == items.link %}class="current"{% endif %}>{{ items.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >{{ item.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Развој софтвера</a></li>
            <li><a href="#">Системска подршка</a></li>
            <li><a href="#">Курсеви и образовање</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      {% endif %}
    {% endfor %}
</ul>
</div>
</div><!-- /.container-fluid -->
</nav>